---
version: 2.1
orbs:
  ruby: circleci/ruby@1.1.1
  heroku: circleci/heroku@1.2.6
jobs:
  test:
    docker:
      - image: circleci/ruby:2.7.4-node-browsers
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - ruby/install-deps
      - run:
          command: |
            while true; do
              sleep 1
              wget localhost/wd/hub/status
              echo "======"
            done
          background: true
      - ruby/rspec-test
workflows:
  test_build:
    jobs:
      - test
      - heroku/deploy-via-git:
          requires:
            - test
          filters:
            branches:
              only: main
