---
version: 2.1
orbs:
  ruby: circleci/ruby@1.1.1
  heroku: circleci/heroku@1.2.6
  git-shallow-clone: guitarrapc/git-shallow-clone@2.0.3
  slack: circleci/slack@4.8.3
jobs:
  test:
    docker:
      - image: circleci/ruby:2.7.4-node-browsers
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - git-shallow-clone/checkout
      - ruby/install-deps
      - ruby/rspec-test
      - slack/notify:
          channel: tweets
          event: pass
          custom: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "All Green"
                  }
                }
              ]
            }
      - slack/notify:
          channel: tweets
          event: fail
          custom: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "All Red :ohnooo:"
                  }
                }
              ]
            }
workflows:
  test_build:
    jobs:
      - test:
          context:
            - slack
      - heroku/deploy-via-git:
          requires:
            - test
          filters:
            branches:
              only: main
