---
version: 2.1
orbs:
  ruby: circleci/ruby@1.1.1
  profiling: nanophate/docker-profiling@0.3.0
jobs:
  test:
    docker:
      - image: circleci/ruby:2.7.4-node-browsers
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - ruby/install-deps
      - ruby/rspec-test
      - profiling/network
  build:
    docker:
      - image: docker:stable
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - setup_remote_docker
      - run: docker build .
workflows:
  test_build:
    jobs:
      - test
      - build:
          requires:
            - test
